.xtudo {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  background-color: #f48c06;
  border-radius: 0 0 10px 10px;
  height: 10vh;
}
.sandubao {
  display: flex;
  align-items: center;
  --borderWidth: 3px;
  position: relative;
  width: 100vw;
  justify-content: flex-start;
  border-radius: var(--borderWidth);
  z-index: 3;
}

.sandubao:after {
  content: '';
  position: fixed;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  /* height: calc(10% + var(--borderWidth) * 2); */
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #ced4da, #adb5bd, #495057, #343a40, #212529);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bamburguer {
  background-color: transparent;
  border: none;
  margin-left: 25px;
}

.title {
  position: absolute;
  font-size: 35px;
  left: calc(50% - 80px); 
  font-weight: 900;
  color: black;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
