.side-menu-container.side-bar {
  display: flex;
  flex-flow: row;
  text-decoration: none;
  color: black;
  padding: 5px;
  background-color: #ced4da;
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}

.side-menu-container.side-bar:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.opened-menu {
  display: flex;
  color: black;
  text-decoration:none;
  padding: 14px;
  background-color: #ced4da;
  font-weight: bolder;
  font-size: large;
}

/* .opened-menu:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
} */
