.background {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}

.teste1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ced4da;
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 15;
}

.teste1:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  background: linear-gradient(60deg,  #ced4da, #adb5bd, #495057, #343a40, #212529);
  border-radius: calc(2 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.corpo {
  /* border:springgreen solid 1px; */
  position: absolute;
  top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  height:100%;
  background-color: #ced4da;
  z-index: 1;
}

.verCarrinho {
  border: none;
  direction: rtl;
  background-color: #ced4da;
  /* position: absolute; */
  margin-right: 5px;
  text-decoration: none;
  width: 75px;
  z-index: 10;
}

.product-card {
  align-items: flex-start;
  background-color: white;
  border: lightslategrey solid 1px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  min-height: 70px;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
}

.product-data {
  display: flex;
  flex-flow: row;
  margin: 10px 5px;
}

.product-info {
  /* border: tomato solid 1px; */
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.action-buttons {
  margin: 25px 0;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.action-buttons button {
  border-radius: 50%;
  font-size: 20px;
  font-weight: 900;
  height: 25px;
  width: 25px;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.9);
}

.add-product {
  background-color: white;
  border: solid 2px black;
  color: black;
}

.sub-product {
  background-color: white;
  border: solid 2px black;
  color: black
}
